.form-control
{
position: relative;
left:150px;
top: -10px;
width:250px;
resize: none;
}
.etiquetas
{
position: relative;
left:150px;
top: -5px;
width:350px;
color: black;
font-weight:bold;
}
.btn 
{
position: relative;
left:830px;
top: 150px;
}
.text-center-header
{

position: relative;
left:900px;
top: 100px;
}
.modal-title
{
position: relative;
left:-145px;
}
.botones
{
position: relative;
right:650px;
bottom: 140px;
}
.table
{
position: relative;
left:350px;
top: 200px;
width: 1100px;
}

.input-group
{
	position: relative;
	left: 500px;
	width: 400px;
	top: 150px;
}
.input-group-prepend
{
    
 left: 80px;
}
.input-group-btn
{
  bottom: 44px;
  left: 190px;
}

.input-group.date
{
  position: relative;
  left:220px;
}
.form-control
{
	left:120px;
}
.input-group-addon
{
	position: relative;
    left:120px; 
    bottom: 10px;
}
.estado
{  
	position: relative;
	left: 200px;
}
.alinear
{ position: relative;
  left:70px;
  bottom:45px;
}
.alerta
{
	position:relative;
	left: 700px;
	top: 400px;
	width: 350px;
}
.btnb
{
	position: relative;
	right: 5px;
}
.espera
{
	position: relative;
	left: 20px;
	top:  100px;
	color:#343a40;
	width:-500px;
	font-size: 2em;
	text-align: center;
}
.proceso
{
	position: relative;
	left: 20px;
	top:  150px;
	color:#343a40;
	width:-500px;
	font-size: 2em;
	text-align: center;
}
.resuelto
{
	position: relative;
	left: 20px;
	top:  200px;
	color:#343a40;
	width:-500px;
	font-size: 2em;
	text-align: center;
}
.table.table-bordered
{
  position: absolute;
  width: 700px;
  top: 22px;
  left:250px;

}
.ajuste
{
	position: relative;
	left: 250px;
	top: 10px;
	width: 800px;
}
.tablausuarios
{
	position: relative;
	top: 50px;
	right:205px;
	width:700px;
	height: 400px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-top: 0px;
	margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.tabladmin
{
	position: relative;
	top: 300px;
	left:220px;
    width: 1300px;
    height: 300px;
    overflow-x:visible;
    overflow-y:scroll; 

}
.tabladetalle
{
	position: absolute;
	top: 100px;
	left: 140px;
	border-style: collapse;
}
.container-sm
{ position: relative;
	display: block;
	overflow:scroll;
     height:200px;
     width:1000px;
     border-style: ridge;

}
.table
{
	position: relative;

}
.tareas
{
	position: relative;
	text-align: center;
	top:80px;
	color:#343a40;
	left: 30px;
}
.nuevo
{
	position: relative;
	right: 520px;
	bottom:10px;
}
.buscar
{
	position: relative;
	right:20px;
}
img.
{
	position: relative;
	left:200px;
}
.descripcion
{
	position: absolute;
	bottom:640px;
	left:700px;
	color: #151515;
}
.direccion
{
   position: relative;
   left: 650px;
   bottom: 105px;
   color: #151515;

}
.ciudad
{
   position: relative;
   left: 740px;
   bottom: 110px;
   color: #151515;

}
.mensaje
{
	position: relative;
	text-align: center;
	color: #151515;

}
.tablat
{
	position: relative;
	right:100px;
     bottom: 200px;
}
.mensaje2
{
	position: relative;
	bottom:35px;
	text-align: center;
	color: #151515;
}
.mensaje3
{
	text-align: center;
	color: #151515;
}
.contenedor
{
	position: absolute;
	left:430px;
	top: 400px;
	resize: none;
}
.buscador
{
	position: absolute;
	left: 500px;
	top: 150px;
	width: 500px;
}
.btnbuscar
{
	position:relative;
	right: 710px;
	bottom: 160px;
}
.btneliminar
{
	position: relative;
	right: 860px;
	bottom: 185px;
}
.btnupdate
{
	position: relative;
	right: 770px;
	bottom: 150px;
}
.moverausers
{
	position: relative;
	top: 170px;
	width: 50%;
	height: 200px;
	left:210px;
	margin-right:0;
}
.container-fluid
{
	position: relative;
    overflow-x:visible;
    overflow-y:scroll; 
    width:1300px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  
}
.table.table-striped
{
	position: relative;
	left: 150px;

}
.btnadd
{
	position: relative;
	right: 500px;
	bottom: 11px;
}
.modalregistro
{
	position: relative;
	right: 120px;
	top: 30px;
}
.btnmodal
{
	position: relative;
	right: 700px;
	bottom: 160px;
}
.etiqueta
{
	position: relative;
	top: 20px;
	left: 20px;
	font-style: bold;
}
.user
{
	position: relative;
	width:800px;
	height: 700px;
	right:  600px;
}
.nombreu
{
	position: relative;
	left: 10px;
	color: white;
}
.lblcom
{
	position: relative;
	right: 2px;
	color: black;
	top: 20px;
}
.lblres
{
	position: relative;
	color: black;
}
.comentarios
{
	position: relative;
	left: 0px;
	top: 20px;
	resize: none;
}
.btncom
{
	position: absolute;
	left: -400px;
    bottom:70px;

}
.textarea{
resize: none;
}
.tabladetalles
{
	position: relative;
	left: 270px;
	top:80px;
	resize: none;
}
.tcomentarios
{
	position: relative;
	top: 150px;
	resize: none;
}